# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Node
**/node_modules/

# Build output
**/dist/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Node
**/node_modules/

# Build output
**/dist/
